# Fly.io configuration for Discord Account Scanner Bot https://fly.io/docs/reference/configuration
app = 'moderation-scanner'
primary_region = 'fra'
kill_signal = "SIGINT"
kill_timeout = "30s"

[build]
dockerfile = "Dockerfile"

[deploy]
  strategy = "immediate"

[env]
  PYTHONUNBUFFERED = "1"
  PYTHONDONTWRITEBYTECODE = "1"
  PYTHONHASHSEED = "0"
  PYTHONIOENCODING = "utf-8"
  PYTHONOPTIMIZE = "1"
  LC_ALL = "C.UTF-8"
  NODE_ENV = "production"
  NODE_OPTIONS = "--max-old-space-size=1536"

[vm]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
